@use 'sass:color';

// Mods
#canvas {
	--fill: linear-gradient(#ae7629, #895120);
	b {
		color: #f2e757;
	}
}
#iris {
	--fill: linear-gradient(#29537a, #3d572c);
}
#optifabric {
	--icon-fill: #5683ff;
	--fill: linear-gradient(#0030a1, #001850);
}
#optifine {
	--fill: linear-gradient(#952e2f, #471010);
	b {
		color: #fab325;
	}
}
#pfm {
	--fill: linear-gradient(#f77f34, #9f4204);
}
#sodium {
	--fill: linear-gradient(#7db26f, #387329);
}
#vulkanmod {
	--fill: linear-gradient(#121321, #20212c);
	b {
		color: #a74141;
	}
}

// Distributors
#modrinth {
	--fill: linear-gradient(#072c13, #041c0b);
	b {
		color: #00d845;
	}
}
#curseforge {
	--fill: linear-gradient(#2e140b, #1e0c07);
	--icon: 46px;
	b {
		color: #f16436;
	}
}
#github {
	--fill: linear-gradient(#181f29, #0f131a);
	b {
		color: white;
	}
}

// Donations
#patreon {
	--fill: linear-gradient(#222, #111);
	b {
		color: white;
	}
}

// Social
#instagram {
	// Colours adjusted for allowing the text to be legible
	--fill: linear-gradient(
		45deg,
		#{color.adjust(#ffd600, $lightness: -15%, $saturation: -15%)},
		#{color.adjust(#ff7a00, $lightness: -15%, $saturation: -15%)},
		#{color.adjust(#ff0069, $lightness: -15%, $saturation: -15%)},
		#{color.adjust(#d300c5, $lightness: -15%, $saturation: -15%)},
		#{color.adjust(#7638fa, $lightness: -15%, $saturation: -15%)}
	);
	b {
		color: white;
	}
}

#youtube {
	--fill: linear-gradient(#321513, #210e0c);
	--icon: 44px;
	b {
		color: #ff0000;
	}
}

#discord {
	--fill: linear-gradient(#1b1d31, #11121f);
	b {
		color: #5865f2;
	}
}

#mastodon {
	--fill: linear-gradient(#1c1036, #0b0920);
	b {
		background-image: linear-gradient(#9393ff 0 50%, #7a65d1 100%);
		background-clip: text;
		color: transparent;
	}
}
